.btn {
    background-color: green;
    border-radius: 5px;
    padding: 0 20px;
}

.primary {
    background-color: green;
}

.default {
    background-color: bisque;
}

.error {
    background-color: red;
}