
.user {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border:1px solid blue;
    border-radius: 10px;

}
.user_name{
    color: green;

}


.user_age{
    color: red;

}



.user_email{
    color: blue;

}
