h1 {
    text-align: center;
    color: #333;
    padding-bottom: 50px;
}

form {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

div {
    max-width: 800px;
    margin: 0 auto;
}
